<a href="https://colab.research.google.com/github/clferreira1985/Python/blob/main/Caso%20Real-Prevendo%20Default%20de%20Clientes%20Nubank/Caso_Real_Prevendo_Default_de_Clientes_Nubank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



## Caso Real -  Prevendo Default de Clientes Nubank

#### 1º Problema de Negócio

##### Precisamos prever o default de cliente do Nubank para que o departamento de cartões possa tomar medidas pró-ativas

#### 2º Análise Exploratória

In [1]:
# Import dos pacotes

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('/content/nubank.csv')
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
df.nunique()

Loan_ID              614
Gender                 2
Married                2
Dependents             4
Education              2
Self_Employed          2
ApplicantIncome      505
CoapplicantIncome    287
LoanAmount           203
Loan_Amount_Term      10
Credit_History         2
Property_Area          3
Loan_Status            2
dtype: int64

#### 3º Pré-processamento dos dados

In [4]:
df['Gender']=df['Gender'].map({'Male':1, 'Female':0})
df['Married'] = df['Married'].map({'Yes' : 1, 'No':0})
df['Education'] = df['Education'].map({'Graduate':1, 'Not Graduate' : 0})
df['Dependents'] = df['Dependents'].replace('+3', 3, inplace = True)
df['Self_Employed'] = df['Self_Employed'].map({'Yes':1, 'No':0})
df['Property_Area'] = df['Property_Area'].map({'Semiurban':1, 'Urban':2, 'Rural':3})
df['Loan_Status'] = df['Loan_Status'].map({'Y':1, 'N':0})

In [5]:
#Imput de valores nulos

rev_null=['Gender', 'Married','Dependents','Self_Employed', 'Credit_History', 'LoanAmount', 'Loan_Amount_Term']
df[rev_null]=df[rev_null].replace({np.nan:df['Gender'].mode(),
                                   np.nan:df['Married'].mode(),
                                   np.nan:df['Dependents'].mode(),
                                   np.nan:df['Self_Employed'].mode(),
                                   np.nan:df['Credit_History'].mode(),
                                   np.nan:df['LoanAmount'].mean(),
                                   np.nan:df['Loan_Amount_Term'].mean()})

In [6]:
X=df.drop(columns=['Loan_ID', 'Loan_Status']).values
y=df['Loan_Status'].values

In [7]:
X_treino, X_teste, y_treino, y_teste = train_test_split(X,y, test_size=0.2, random_state= 42)

In [8]:
print ('Tamanho do X_treino => ' , X_treino.shape)
print ('Tamanho do X_teste => ' , X_teste.shape)
print ('Tamanho do y_treino => ' , y_treino.shape)
print ('Tamanho do y_teste => ' , y_teste.shape)

Tamanho do X_treino =>  (491, 11)
Tamanho do X_teste =>  (123, 11)
Tamanho do y_treino =>  (491,)
Tamanho do y_teste =>  (123,)

#### 4º Construção da Máquina Preditiva

In [12]:
# Decision Tree

from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(max_depth = 3, criterion = 'entropy', random_state = 7)
dt.fit (X_treino, y_treino)
dt_pred_train = dt.predict(X_treino)

#### 5º Avaliação da Maquina Peditiva

In [16]:
# avaliação do conjunto de treino
dt_pred_train = dt.predict(X_treino)
print ('Avaliação do conjunto de treino F1_score=>', f1_score(y_treino, dt_pred_train))

# avaliação do conjunto de treino
dt_pred_teste = dt.predict(X_teste)
print ('Avaliação do conjunto de teste F1_score=>', f1_score(y_teste, dt_pred_teste))

Avaliação do conjunto de treino F1_score=> 0.8842105263157894
Avaliação do conjunto de teste F1_score=> 0.8586956521739131

Avaliação do conjunto de teste F1_score=> 0.8586956521739131