<a href="https://colab.research.google.com/github/clferreira1985/Python/blob/main/LabelEncoder_ou_%22One_Hot_Encoder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [45]:
dados = {'Nome': ['Cleiton', 'Liliane Farcha', 'Priscila','Cristiano', 'Carolina', 'Thamires', 'Thalita' ],
           'Valor':[1000, 1500, 2000, 3000, 1000, 2500, 2000], 
           'Cargo': ['Financeiro', 'DP', 'Recepção','Financeiro', 'Faturamento', 'Recepção', 'DP'], 
           'Hierarquia' : ['Senior', 'Pleno', 'Senior', 'Pleno', 'Junior', 'Junior', 'Senior']}

In [47]:
df = pd.DataFrame(dados)
df

             Nome  Valor        Cargo Hierarquia
0         Cleiton   1000   Financeiro     Senior
1  Liliane Farcha   1500           DP      Pleno
2        Priscila   2000     Recepção     Senior
3       Cristiano   3000   Financeiro      Pleno
4        Carolina   1000  Faturamento     Junior
5        Thamires   2500     Recepção     Junior
6         Thalita   2000           DP     Senior

#### Label Encoder

In [8]:
# Import label encoder

from sklearn import preprocessing

In [10]:
label_encoder = preprocessing.LabelEncoder()

df['Cargo'] = label_encoder.fit_transform(df['Cargo'])
df

             Nome  Valor  Cargo Hierarquia
0         Cleiton   1000      2     Senior
1  Liliane Farcha   2000      0      Pleno
2        Priscila   1000      3     Senior
3       Cristiano   1000      2      Pleno
4        Carolina   1000      1     Junior
5        Thamires   1000      3     Junior
6         Thalita   1000      0     Junior

#### One-Hot Encoder

In [78]:
dados = {'Nome': ['Cleiton', 'Liliane Farcha', 'Priscila','Cristiano', 'Carolina', 'Thamires', 'Thalita' ],
           'Valor':[1000, 1500, 2000, 3000, 1000, 2500, 2000], 
           'Cargo': ['Financeiro', 'DP', 'Financeiro','Faturamento', 'DP', 'Recepção', 'DP'], 
           'Hierarquia' : ['Senior', 'Pleno', 'Senior', 'Pleno', 'Junior', 'Junior', 'Senior']}

In [79]:


df = pd.DataFrame(dados)
df

             Nome  Valor        Cargo Hierarquia
0         Cleiton   1000   Financeiro     Senior
1  Liliane Farcha   1500           DP      Pleno
2        Priscila   2000   Financeiro     Senior
3       Cristiano   3000  Faturamento      Pleno
4        Carolina   1000           DP     Junior
5        Thamires   2500     Recepção     Junior
6         Thalita   2000           DP     Senior

In [80]:
# importando o One hot encoder

from sklearn.preprocessing import OneHotEncoder

onehotencoder = OneHotEncoder()

x = onehotencoder.fit_transform(df.Cargo.values.reshape(-1,1)).toarray()
x

array([[0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 0., 0.]])

In [81]:
df.shape[1]

4

In [82]:
dfonehot = pd.DataFrame(x, columns= ['Cargo_'+str(int(i)) for i in range(df.shape[1])])

In [83]:
df = pd.concat([df, dfonehot], axis=1)

df = df.drop(['Cargo'], axis=1)

print(df.head())

             Nome  Valor Hierarquia  Cargo_0  Cargo_1  Cargo_2  Cargo_3
0         Cleiton   1000     Senior      0.0      0.0      1.0      0.0
1  Liliane Farcha   1500      Pleno      1.0      0.0      0.0      0.0
2        Priscila   2000     Senior      0.0      0.0      1.0      0.0
3       Cristiano   3000      Pleno      0.0      1.0      0.0      0.0
4        Carolina   1000     Junior      1.0      0.0      0.0      0.0

#### Maneiras comuns de verificar a multicolariedades

Variance inflation Factor (VIF)

VIF = 1, menor multicolinearidade

VIF < 5, multicolinearidade moderada

VIF > 5, multicolinearidade extrema (isso é o que devemos evitar)

In [88]:
# Função para calcular VIF

import statsmodels.api as sm

def calculate_vif (data) :
  vif_df = pd.DataFrame(columns = ['Var', 'Vif'])
  x_var_names = df.columns

  for i in range (0, x_var_names.shape[0]):
      y = df[x_var_names[i]]
      x = df[x_var_names.drop([x_var_names[i]])]
      r_squared = sm.OLS(y,x).fit().rsquared
    
      vif = round(1/(1-r_squared),2)

      vif_df.loc[i] = [x_var_names[i], vif]
  return vif_df.sort_values(by = 'Vif', axis = 0, ascending= False, inplace=False)

X=df.drop(['Valor'], axis=1)
calculate_vif(X)

ValueError: ignored