<a href="https://colab.research.google.com/github/clferreira1985/Python/blob/main/Manipula%C3%A7%C3%A3o%20de%20Arquivos/Manipulacao_de_arquivos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from zipfile import ZipFile

In [4]:
file = '/content/DataBase.zip'
with ZipFile (file, 'r') as zip:
  zip.printdir()
  zip.extractall()

File Name                                             Modified             Size
cdd.db                                         2020-10-07 14:38:38        12288
escola.db                                      2020-10-07 14:38:40         8192

In [6]:
import pandas as pd
import sqlite3

In [8]:
#Open engine connection

con=sqlite3.connect ('/content/cdd.db')

# Create a cursor object

cur = con.cursor()

In [14]:
# Criar uma Consulta: Query

Query = cur.execute('select * from produtos')

# Salvando o resultado da query em um dataframe: df ( Save results of the query to DataFrame: df)
df = pd.DataFrame(Query.fetchall(), columns=['ID', 'DT', 'PRD', 'VL'])

# Fechando a Conexão (Close connection)

con.commit()

# Print head of Dataframe df
df.head()

   ID                          DT      PRD    VL
0  10         2018-05-02 14:32:11  Teclado  90.0
1  11  2018-04-18 16:01:53.996258  Monitor  74.0
2  12  2018-04-18 16:01:54.999582  Monitor  56.0
3  13  2018-04-18 16:01:56.010718  Monitor  78.0
4  14  2018-04-18 16:01:57.021711  Monitor  90.0

In [15]:
#Manipulando arquivos Excel

df2 = pd.read_excel(r'/content/Cronograma do CDP.xlsx')
df.head()

   ID                          DT      PRD    VL
0  10         2018-05-02 14:32:11  Teclado  90.0
1  11  2018-04-18 16:01:53.996258  Monitor  74.0
2  12  2018-04-18 16:01:54.999582  Monitor  56.0
3  13  2018-04-18 16:01:56.010718  Monitor  78.0
4  14  2018-04-18 16:01:57.021711  Monitor  90.0

In [17]:
#Lendo as abas do Excel

x1 = pd.ExcelFile(r'/content/Cronograma do CDP.xlsx')
x1.sheet_names

['Interno', 'Aluno']

In [19]:
df3 = pd.read_excel(r'/content/Cronograma do CDP.xlsx', sheet_name='Aluno')
df3.head()

  CIENTISTA DE DADOS NA PRÁTICA                Unnamed: 1
0                       Módulos  Data da Disponibilização
1                      Módulo 1           Disponibilizado
2                      Módulo 2           Disponibilizado
3                      Módulo 3       2020-10-01 00:00:00
4                      Módulo 4       2020-10-08 00:00:00

In [21]:
# Manipulando arquivo JSON
import json

with open('/content/JSON', 'r') as file:
  data = json.load(file)

In [ ]:
#json dicionário (dictionary)

print(type(data))

df_json = pd.DataFrame(data)
df_json

In [24]:
# Lendo Json diretamente do Pandas ( read Json file by Pandas)

df = pd.read_json('/content/JSON')
df.head()

,idResumo,ModalidadeDsc,NumeroEdital,Data,DataAdiada,ObjetoDsc
0,583,Concorrência,01/ANA/2018,12/02/2019 às 09:30:00,None,Contratação de empresa especializada na execuç...
1,552,Pregão,001/ANA/2018,09/02/2018 às 09:00:00,None,Registro de Preços para a contratação de empre...
2,553,Pregão,002/ANA/2018,09/02/2018 às 09:30:00,None,"Registro de Preços, a aquisição mesas trapezoi..."
3,554,Pregão,003/ANA/2018,21/02/2018 às 08:30:00,None,Registro de Preços a contratação de empresa es...
4,555,Pregão,004/ANA/2018,21/02/2018 às 08:45:00,None,Registro de Preços a contratação de empresa pa...